<!DOCTYPE html>
<html lang="en">

<head>
    <title>登录注册</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <script src="http://code.jquery.com/jquery-3.1.0.min.js"></script>
    <link href="//cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="//cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.min.css" rel="stylesheet">


    {% load staticfiles %}
    <link href=" {% static 'css/registerstyle.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'js/registerjs.js' %}"></script>

    <!--<link href="css/registerstyle.css" rel="stylesheet" type="text/css">
    <script src="js/registerjs.js"></script>-->
</head>

<body>

<div style="margin-top:70px; width:20%;margin-left: 35%">
    <ul id="tab_choose" class="nav nav-tabs" role="tablist">
        <li class="active"><a  href="{% url 'login'%}" class="form-control">登录</a></li>
        <li><a href="{% url 'register'%}" class="form-control" >注册</a></li>
    </ul>
</div>

<div class="login wrap container" style="width:35%;height:400px">


    <div id="tab_content myTabContent" class="tab-content">
         <div class="tab-pane fade in active" id="signin">              <!--登录-->
            <form id="login" role="form" action="" method="post" onsubmit="" class="form-inline">{% csrf_token %}
                <div  class="form-group col-xs-8">
                    <label class="control-label"></label>
                    <br/><br/>
                        <div class="col-sm-12">
                            <span><img src="/static/picture/user.png" style="width: 27px;"></span>
                            <input type="text" name="username" class="form-control adm" placeholder="用户名" width="200px" ><br/><br/>

                        </div>
                        <div class="col-md-12" style="margin-top: 20px;">

                            <span><i class="icon-key icon-2x"></i></span>
                            <input type="password" name="password" class="form-control adp" placeholder="密码" width="200px"><br/><br/>&nbsp;



                        </div>


                    <!--<div id="drag" style="margin: 10px 0px 0px 0px"></div>

                    <script type="text/javascript">
                        $('#drag').drag();
                    </script>-->


                    <div style="margin-top: 30px;width: 100%; " class="">
                        <input class="btn btn-primary btn-md" style="margin-left: 5%; margin-top: 5px;" type="submit" value="登录">
                        <a style="padding-left: 64px;"></a>
                        <input class="btn btn-danger btn-sm"  name="forgetpwd" type="button" href="##" target="_blank" value="忘记密码" />

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="jianyi">推荐使用ie10或以上版本ie浏览器或Chrome内核浏览器访问本站</div>
</body>
</html>